
<h3>Upcoming bookings</h3>

<% @bookings.each do |booking| %>
  <% if Date.today < booking.activity.start_date %>
    <br> </br>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
       <div class="col-md-4">
        <%= cl_image_tag(booking.activity.photos[0].key)%>
       </div>
       <div class="col-md-8">
        <div class="card-body">
          <h5 class="">  <%= booking.activity.title %> </h5>
          <p class="card-text"> <%= booking.activity.description %> </p>
          <p class="card-text"><small class="text-muted">
            <%= booking.activity.start_date %> |
            <%= booking.activity.end_date %></small></p>
        </div>
        <div> <%= link_to "Cancel booking",
            booking_path(booking),
            method: :delete,
            data: { confirm: "Are you sure?" } %> </div>
      </div>
  </div>
</div>

<% end %>
<% end %>

<h3>Past bookings</h3>

<% @bookings.each do |booking| %>
<% if Date.today > booking.activity.start_date %>
<br> </br>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
       <div class="col-md-4">
        <%= cl_image_tag(booking.activity.photos[0].key)%>
       </div>
       <div class="col-md-8">
        <div class="card-body">
          <h5 class="">  <%= booking.activity.title %> </h5>
          <p class="card-text"> <%= booking.activity.description %> </p>
          <p class="card-text"><small class="text-muted">
            <%= booking.activity.start_date %>
            <%= booking.activity.end_date %></small></p>
        </div>
        <div> <%= link_to "Cancel booking",
            booking_path(booking),
            method: :delete,
            data: { confirm: "Are you sure?" } %> |
            <%= link_to "Add Review", new_activity_review_path(booking.activity.id) %>
        </div>
      </div>
  </div>
</div>
</div>
<% end %>
<% end %>
